.fa-user, .fa-info-circle {
    cursor: pointer;
}
#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FFFD;
    display: none;
    z-index: 100;
    overflow: auto;
}
#overlay.visible {
    display: block;
}
div.modal.hide {
    display: none;
}
#close-overlay {
    position: fixed;
    top: 25px;
    right: 90px;
    font-size: 50px;;
    cursor: pointer;
}
#content {
    margin: 50px 0px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
#content h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
}
#content table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
#content caption {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;
}
#content th {
    cursor: pointer;
}
#content td, #content th {
    border: 1px solid black;
    padding: 3px;
}
#content td.hours {
    text-align: right;
}
#content tr:nth-child(2n+1) {
    background-color: #DDD;
}
#content a:hover {
    text-decoration: underline;
}
#content .modal {
    background-color: #DDD;
    border: 1px solid black;
    padding: 2em;
}
#content .modal h2 {
    margin-top: 0px;
}
#content .modal label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}
#content .modal input, #content .modal select {
    width: 575px;
    height: 25px;
}
#content .modal .submit {
    text-align: right;
}