:root {
    --bg-color: #F4F6F8;
    --black: #001050;
    --white: #FFFFFF;
    --light-gray: #FAFAFAFA;
    --border: gray;
}
body {
    margin: 0px;
    color: var(--black);
}
.hide {
    display: none;
}
.show {
    display: block;
}
a {
    text-decoration: none;
    color: var(--black);
}
a:hover {
    text-decoration: none;
}
i {
    transition: all 1s ease-in-out;
}
i:hover {
    transform: scale(1.25);
    animation: wiggle;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
i.fa-gear:hover {
    transform: scale(1.25);
    animation: rotate-big;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
i.fa-circle-notch {
    visibility: hidden;
}
i.fa-circle-notch.rotate {
    visibility: visible;
    display: inline-block;
    animation: rotate 2s infinite linear;
}
i.copy-button {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0s;
}
div.previewArea {
    position: relative;
}
@keyframes wiggle {
    0% {
        transform: scale(1.25) rotate(0deg);
    }
    25% {
        transform: scale(1.25) rotate(-5deg);
    }
    75% {
        transform: scale(1.25) rotate(5deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-big {
    0% {
        transform: scale(1.25) rotate(0deg);
    }
    100% {
        transform: scale(1.25) rotate(360deg);
    }
}
.error {
    color: red;
}
a.graded {
    color: green;
}
a.ungraded {
    color: blue;
}
header {
    height: 80px;
    /* background: rgb(204,76,233);
    background: linear-gradient(90deg, rgba(204,76,233,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}
header #controls {
    position: fixed;
    z-index: 1;
    top: 27px;
    right: 70px;
    font-size: 24px;
    cursor: pointer;
}
header #controls a {
    text-decoration: none;
    color: var(--black);
}
header #course {
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 50px;
    font-size: 20pt;
    font-weight: bold;
}
header #course a:hover {
    text-decoration: none;
}
header h1 {
    position: fixed;
    top: 0px;
    z-index: 0;
    width: 100%;
    font-size: 20pt;
    text-align: center;
}
main {
    position: relative;
    z-index: 10;
    border-top: 1px solid var(--black);
    box-shadow: 0px -4px 8px 0px #00105040, 
                0 -6px 20px 0 #00105030;
    min-height: 100vh;
    background-color: var(--bg-color);
    background: linear-gradient(135deg, var(--bg-color) 50%, var(--white) 100%);
    padding-bottom: 5px;
}
nav.tools {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 70px;
}
nav.areas {
    font-size: 24px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 125px;
}
nav.areas > div {
    padding: 5px 5px;
    text-align: center;
    min-width: 100px;
}
nav.areas > div > a {
    display: block;
}
nav.areas > div.active {
    color: #CCC;
}
nav.back {
    font-size: 24px;
    position: absolute;
    top: 15px;
    left: 50px;
    cursor: pointer;
}
div.camera {
    position: relative;

    div.takePicture,
    div.switchCamera,
    div.closeCamera {
        position: absolute;
        font-size: 50px;
        color: rgba(255,255,255,0.5);
        z-index: 1;
        -webkit-text-stroke: 2px black;
        cursor: pointer;
    }
    div.switchCamera {
        bottom: 10px;
        right: 20px;
    }
    div.closeCamera {
        top: 10px;
        right: 20px;
    }
    div.takePicture {
        border: 2px solid black;
        border-radius: 50%;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 75px;
        background-color: rgba(255,255,255,0.5);
    }
    div.camera_icon {
        position: absolute;
        top: 20px;
        left: 15px;
        font-size: 20px;
    }
    video, canvas {
        display: none;
    }
    video.show {
        display: block;
    }
}
/* For enrollment and attendance */
.modal {
    border: 1px solid var(--black);
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 1em;
    position: relative;
    top: 100px;
    background-color: white;
}
.modal h3 {
    border-bottom: 1px solid var(--black);
}
.modal input {
    width: 100%;
    border: 1px solid #ddd;
}
.modal .btn {
    margin-top: 10px;
    text-align: right;
}
/* TODO Dialog will replace all modals */
dialog {
    overflow: visible;

    .close {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 35px;;
    }
}
dialog.modal {
    position: fixed;
}
dialog::backdrop {
    backdrop-filter: blur(3px);
}

