div#content {
    h1 {
        margin-bottom: 0px;
    }
    div.files {
        border: 1px solid var(--border);
        background-color: var(--light-gray);
        min-width: 50vw;
        min-height: 50vh;
        max-height: 80vh;
        overflow: auto;

        div.file, div.dir {
            padding-left: 5px;
            position: relative;

            i.refresh.hide {
                display: none;
            }

            span.dir, span.file {
                cursor: pointer;
                i {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
            span.size {
                position: absolute;
                right: 65px;
            }
            span.ops {
                cursor: pointer;
                position: absolute;
                right: 5px;
                i {
                    display: inline-block;
                    width: 15px;
                }
            }
            div.listing {
                margin-left: 10px;
            }
        }
        div.file:hover {
            background-color: #f0f0f0;
        }
    }
}
dialog.modal form {
    position: relative;
    margin-bottom: 25px;
    input {
        width: 694px
    }
    button {
        position: absolute;
        right: 0px;
        top: 35px;
    }
}
@media screen and (max-width: 900px) {
    header {
        height: 120px;
        h1 {
            display: none;
        }
        div#course {
            top: 60px;
            left: 0px;
            width: 100%;
        }
        div#controls {
            top: 20px;
            right: 30px;
        }
    }
    nav.areas {
        margin-left: 10px;
        width: 100%;
        div {
            display: inline-block;
            min-width: 40px;
        }
    }
    nav.tools {
        top: 70px;
        right: 20px;
    }
    div#content {
        margin-top: 70px;
        margin-left: 10px;
        width: 100%;
        div.files {
            width: 95vw;
            div.file div.listing {
                margin-left: 5px;
            }
        }
    }
}
