main#editLab {
    form#delLab {
        display: inline;
    }
    div.lab {
        text-align: center;
    }
    div.lab div.status {
        margin-bottom: 5px;
    }
    div.lab form label {
        display: inline-block;
        width: 60px;
        margin-bottom: 5px;
    }
    div.lab input.name {
        width: 310px;
    }
    div.lab select {
        width: 320px;
    }
    div.lab input[type="time"], div.lab input[type="date"] {
        width: 150px;
    }

    #updateLab .lab {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: left;
    }

    #content p.warning {
        font-weight: bold;
        text-align: center;
    }

    /* qcontainer, textContainer and mdContainer is duplicated from quiz 
     * should we factor this out? */
    div.qcontainer {
        text-align: left;
        border-top: none;
        margin-top: 0px;
        position: relative;
    }
    div.qcontainer div.preview {
        margin: 5px 0px;
        text-align: right;
    }

    div.qcontainer div.pcontainer {
        padding: 5px;
        border: 1px solid var(--border);
    }

    .textContainer {
        width: 100%;
    }

    .textContainer textarea {
        width: 100%;
        height: 100px;
        resize: vertical;
    }

    div.textContainer i.fa-markdown {
        position: absolute;
        top: -18px;
        right: 0px;
        cursor: pointer;
        color: gray;
    }

    div.qcontainer div.mdContainer {
        display: none;
    }
    div.qcontainer div.mdContainer.active {
        display: block;
    }

    div.textContainer i.fa-markdown.active {
        color: var(--black);
    }

    i.fa-circle-notch {
        display: none;
    }
    i.fa-circle-notch.rotate {
        display: inline-block;
        width: 16px;
        animation: rotation 2s infinite linear;
    }

    #attachment {
        display: none;
    }

    .attachHeader {
        position: relative;
        margin-bottom: 0px;

        i.fa-paperclip {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }

    .attachment {
        margin-bottom: 3px;
        padding: 3px 5px;
        border: 1px solid var(--border);
        background-color: var(--white);
        position: relative;

        i.fa-xmark {
            position: absolute;
            top: 5px;
            right: 8px;
            cursor: pointer;
        }
    }
}

