body.lab {
    div.dcontainer {
        text-align: left;
        border-top: none;
        margin-top: 0px;
        position: relative;
        display: flex;

        .about {
            flex-basis: 150px;
            flex-shrink: 0;
            border-right: 1px solid var(--border);
            text-align: center;
            position: relative;

            .meta {
                font-size: 50px;
            }
            input[type="number"] {
                width: 50px;
            }
            i.fa-trash-alt {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }

        .deliv {
            flex-grow: 1;
            padding: 5px;
        }


        .textContainer {
            width: 100%;

            textarea {
                width: 100%;
                height: 100px;
                resize: vertical;
            }

            i.fa-markdown {
                position: absolute;
                top: -18px;
                right: 0px;
                cursor: pointer;
                color: gray;
            }
            i.fa-markdown.active {
                color: var(--black);
            }


            div.mdContainer {
                display: none;

                div.preview {
                    margin: 5px 0px;
                    text-align: right;
                }
                div.pcontainer {
                    padding: 5px;
                    border: 1px solid var(--border);
                }
            }
            div.mdContainer.active {
                display: block;
            }
        }
    }

    div.dcontainer.deliverables {
        border-top: 1px solid var(--border);
        .textContainer .fa-markdown {
            top: 10px;
        }
    }
}


body#editLab {
    form#delLab {
        display: inline;
    }
    div.lab {
        text-align: center;
    }
    div.lab div.status {
        margin-bottom: 5px;
    }
    div.lab form label {
        display: inline-block;
        width: 60px;
        margin-bottom: 5px;
    }
    div.lab input.name {
        width: 310px;
    }
    div.lab select {
        width: 320px;
    }
    div.lab input[type="time"], div.lab input[type="date"] {
        width: 150px;
    }

    #updateLab .lab {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: left;
    }

    #content p.warning {
        font-weight: bold;
        text-align: center;
    }

    i.fa-circle-notch {
        display: none;
    }
    i.fa-circle-notch.rotate {
        display: inline-block;
        width: 16px;
        animation: rotation 2s infinite linear;
    }

    #attachment {
        display: none;
    }

    h3 {
        margin-bottom: 0px;
        position: relative;

        i {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }

    h3.empty {
        margin-bottom: 3px;
        border-bottom: 1px solid var(--border);
    }

    .attachment {
        margin-bottom: 3px;
        padding: 3px 5px;
        border: 1px solid var(--border);
        background-color: var(--white);
        position: relative;

        i.fa-xmark {
            position: absolute;
            top: 5px;
            right: 8px;
            cursor: pointer;
        }
    }

    #addDelivDialog {
        label {
            margin-top: 10px;
            display: inline-block;
            width: 75px;
        }
        select {
            width: 620px;
        }
    }
}

body#doLab {
    div#content div.about {
        label {
            display: inline-block;
            width: 55px;
            margin-bottom: 5px;
        }
    }
    div#content h1 {
        margin-top: 25px;
        margin-bottom: 0px;
    }

    div.description {
        border: 1px solid var(--border);
        padding: 5px 10px;
        background-color: var(--white);
    }

    p.delivInstr {
        margin-top: 0px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: bold;
    }
    p.warn {
        margin-top: 0px;
        text-align: center;
        font-weight: bold;
        color: red;
    }

    div.attachment {
        display: inline-block;
        margin: 5px;
    }

    div.stats {
        margin: 10px 2px;

        label.completion {
            display: inline-block;
            margin-left: 25px;
        }

        select {
            width: 100px;
        }
    }

    div.dcontainer div.deliv div.textContainer {
        position: relative;

        textarea {
            margin-top: 30px;
            width: 580px;
        }
        i.fa-markdown {
            right: 5px;
        }
    }
    div.urlContainer, div.fileContainer {
        margin: 10px 0px;
        input {
            width: 580px;
        }
    }
    div.done {
        margin-top: 30px;
        text-align: center;
        position: relative;

        nav.back {
            top: 0px;
            right: 0px;
            left: auto;
        }
    }
}
