body.lab {
    div.dcontainer {
        text-align: left;
        border-top: none;
        margin-top: 0px;
        position: relative;
        display: flex;

        .about {
            flex-basis: 150px;
            flex-shrink: 0;
            border-right: 1px solid var(--border);
            text-align: center;
            position: relative;

            .meta {
                font-size: 50px;
            }
            input[type="number"] {
                width: 50px;
            }
            i.fa-trash-alt {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }

        .deliv {
            flex-grow: 1;
            padding: 5px;
        }


        .textContainer {
            width: 100%;

            textarea {
                width: 100%;
                height: 100px;
                resize: vertical;
            }

            i.fa-markdown {
                position: absolute;
                top: -18px;
                right: 0px;
                cursor: pointer;
                color: gray;
            }
            i.fa-markdown.active {
                color: var(--black);
            }


            div.mdContainer {
                display: none;

                div.preview {
                    margin: 5px 0px;
                    text-align: right;
                }
                div.pcontainer {
                    padding: 5px;
                    border: 1px solid var(--border);
                }
            }
            div.mdContainer.active {
                display: block;
            }
        }
    }

    div.dcontainer.deliverables {
        border-top: 1px solid var(--border);
        .textContainer .fa-markdown {
            top: 10px;
        }
    }

    i.fa-circle-notch {
        visibility: hidden;
    }
    i.fa-circle-notch.rotate {
        visibility: visible;
        display: inline-block;
        animation: rotate 2s infinite linear;
    }

}


body#editLab {
    form#delLab {
        display: inline;
    }
    div.lab {
        text-align: center;
    }
    div.lab div.status {
        margin-bottom: 5px;
    }
    div.lab form label {
        display: inline-block;
        width: 60px;
        margin-bottom: 5px;
    }
    div.lab input.name {
        width: 310px;
    }
    div.lab select {
        width: 320px;
    }
    div.lab input[type="time"], div.lab input[type="date"] {
        width: 150px;
    }

    #updateLab .lab {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: left;
    }

    #content p.warning {
        font-weight: bold;
        text-align: center;
    }

    #attachment {
        display: none;
    }

    h3 {
        margin-bottom: 0px;
        position: relative;

        i {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
        i.fa-circle-notch {
            right: 25px;
            visibility: hidden;
        }
        i.fa-circle-notch.rotate {
            visibility: visible;
        }
    }

    h3.empty {
        margin-bottom: 3px;
        border-bottom: 1px solid var(--border);
    }

    .attachment {
        margin-bottom: 3px;
        padding: 3px 5px;
        border: 1px solid var(--border);
        background-color: var(--light-gray);
        position: relative;

        i.fa-xmark {
            position: absolute;
            top: 5px;
            right: 8px;
            cursor: pointer;
        }
    }

    #addDelivDialog {
        label {
            margin-top: 10px;
            display: inline-block;
            width: 75px;
        }
        select {
            width: 620px;
        }
    }
}

body#doLab {
    div#content div.about {
        label {
            display: inline-block;
            width: 55px;
            margin-bottom: 5px;
        }
    }
    div#content h1 {
        margin-top: 25px;
        margin-bottom: 0px;
    }

    div.description {
        border: 1px solid var(--border);
        padding: 5px 10px;
        background-color: var(--light-gray);
    }

    p.delivInstr {
        margin-top: 0px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: bold;
    }
    div.attachment {
        display: inline-block;
        margin: 5px;
    }

    div.stats {
        margin: 10px 2px;

        label.completion {
            display: inline-block;
            margin-left: 25px;
        }

        select {
            width: 100px;
        }
    }

    div.dcontainer div.deliv div.textContainer {
        position: relative;

        textarea {
            margin-top: 30px;
            width: 580px;
        }
        textarea.file {
            margin-top: 0px;
        }
        i.fa-markdown {
            right: 5px;
        }
        i.fa-markdown.file {
            top: -23px;
        }
        i.fa-markdown.stu.cmt {
            top: 9px;
        }
    }

    div.fileContainer {
        margin: 10px;

        i.fa-upload {
            cursor: pointer;
        }

        input.file {
            display: none;
        }

        span.check {
            color: green;
            display: none;
        }
        span.check.show {
            display: inline;
            animation: glow 2s 2;
        }
        img {
            width: 555px;
            margin-top: 10px;
            margin-bottom: 30px;
            display: none;
        }
        img.show {
            display: block;
        }
        pre {
            max-width: 585px;
            overflow-x: scroll;
        }
    }

    div.urlContainer {
        margin: 10px 0px;

        input.url {
            width: 535px;
        }
    }
    div.done {
        margin-top: 30px;
        text-align: center;
        position: relative;

        nav.back {
            top: 0px;
            right: 0px;
            left: auto;
        }
    }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00aa00, 0 0 40px #00aa00, 0 0; 
  }
  
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #00aa19, 0 0 40px #00aa19, 0 0 50px #00aa19, 0 0 60px #00ff4d, 0 0 70px #00ff4d, 0 0 80px #00ff4d;
  }
  
  100% {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00aa00, 0 0 40px #00aa00;
  }
}

