.iconContainer {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

nav.tools .stripe {
    position: absolute;
    top: 17px;
    right: -5px;
    width: 33px;
    height: 0px;
    border: 1px solid red;
    cursor: pointer;
}
.sideContainer {
    width: 45vw;
    min-height: 200px;
    position: fixed;
    top: 150px;
    right: 50px;
}
#scannerContainer {
    text-align: center;
}
#scannerContainer .fa-barcode {
    font-size: 100px;
}
#readerContainer {
    background-color: white;
}
#msgContainer {
    position: fixed;
    width: 45vw;
    top: 125px;
    right: 50px;
    text-align: center;
}
.hide {
    display: none;
}
#rotate {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    color: lightgray;
    z-index: 1;
    -webkit-text-stroke: 2px black;
    cursor: pointer;
}
#camera_icon {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 20px;
}
#readerStripe {
    position: absolute;
    border-bottom: 1px solid red;
    opacity: 0.5;
    width: 90%;
    top: 325px;
    z-index: 10;
    right: 5%;
    display: none;
}
.msg {
    overflow: hidden;
    height: 23px;
    padding: 3px;
    transition: height 1s, padding 0s;
}
.hidden {
    height: 0px;
    padding: 0px;
}
#registerMsg {
    position: relative;
}
#content {
    width: 800px;
}
#content.left {
    margin-left: 50px;
    width: 45vw;
}
h3 {
    margin-bottom: 0px;
}
label {
    display: inline-block;
    width: 50px;
    text-align: left;
}
#meeting_form div {
    text-align: right;
}
input[type=text],
input[type=date] {
    width: 38vw;
}
div.btns {
    margin-top: 5px;
    text-align: right;
}
td.cbox {
    width: 50px;
    text-align: center;
}
.btns button {
    width: 200px;
}
td.name {
    position: relative;
}
td.name span.right {
    position: absolute;
    right: 3px;
    color: gray;
    cursor: pointer;
}
td input.time {
    width: 55px;
}
td.student_id {
    text-align: center;
}
#content {
    position: relative;
}
#content .meeting h3 form {
    display: inline;
}
.fa-cloud-upload-alt,
.fa-trash-alt, 
.fa-paper-plane,
.fa-rotate-right {
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.fa-rotate-right {
    right: 20px;
}
.fa-cloud-upload-alt {
    right: 40px;
}
