div#days {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto; /* 7 cols */
    margin-left: auto;
    margin-right: auto;
    width: 67vw;
}
div#days div.data {
    cursor: pointer;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 8vw;
    width: 8vw;
    padding: 15px;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#days div.data a {
    width: 100%;
}
div#days div.data.w1 {
    border-top: 1px solid black;
}
div#days div.data.d1 {
    border-left: 1px solid black;
}
div#days div.data.done {
    background: linear-gradient(to bottom, #ccc 0%,#aaa 100%); 
}
div#days div.data.curr {
    background: linear-gradient(to bottom, #ffc 0%,#cca 100%); 
}
div.data time {
    display: block;
    font-size: 75%;
    position: absolute;
    left: 0px;
    bottom: 3px;
    width: 100%;
    text-align: center;
}
div.data .users {
    position: absolute;
    top: 5px;
    left: 16px;
}
div.data span.time {
    position: absolute;
    top: 5px;
    right: 5px;
}
div.data .views {
    position: absolute;
    top: 25px;
	left: 13px;
}
div.data span.day {
    display: none;
}
div#total {
	margin-top: 15px;
	text-align: center;
}
#content td.num {
    text-align: right;
}

@media screen and (max-width: 900px) {
    header h1 {
        display: none;
    }
    header {
        height: 120px;
    }
    header div#course {
        top: 60px;
        left:0px;
        width: 100%; 
    }
    header div#controls {
        top: 20px;
        right: 30px;
    }
    main nav.areas {
        width: 60px;
    }
    main nav.areas > div {
        min-width: 60px;
    }
    main nav.tools {
        display: none;
    }
    div#days {
        display: block;
        width: 80vw;
        margin: auto;
    }
    div#days div.header {
        display: none;
    }
    div#days div.data {
        width: 100%;
        padding: 15px 0px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        min-height: 75px;
    }
    div#days div.data.mon {
        border-top: 1px solid black;
        margin-top: 40px;
    }
    div#days div.data.d1 {
        margin-top: 30px;
        border-top: 1px solid black;
    }
    div#days div.data.w1.d1 {
        margin-top: 5px;
    }
    div.data span.day { 
        display: block;
    }
}