div#days {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto; /* 7 cols */
    margin-left: auto;
    margin-right: auto;
    width: 67vw;
}
div#days div.header {
    font-weight: bold;
    max-height: 30px;
    text-align: center;   
    border-bottom: 1px solid black;
    padding: 1px;
}
div#days div.data {
    cursor: pointer;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 8vw;
    width: 8vw;
    padding: 15px;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    display: flex;
    align-items: center;     
}
div#days div.data a {
    width: 100%;
}
div#days div.data.mon {
    border-left: 1px solid black;
}
div#days div.data.done {
    background: linear-gradient(to bottom, #ccc 0%,#aaa 100%); 
}
div#days div.data.curr {
    background: linear-gradient(to bottom, #ffc 0%,#cca 100%); 
}
div.data time {
    display: block;
    margin-top: 10px;
    font-size: 75%;
    position: absolute;
    bottom: 3px;
    width: 130px;
    text-align: center;
}
div.data .users {
    position: absolute;
    top: 5px;
    left: 16px;
}
div.data span.time {
    position: absolute;
    top: 5px;
    right: 5px;
}
div.data .views {
    position: absolute;
    top: 25px;
	left: 13px;
}



/* from here  to be removed */
table#days {
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table#days td {
    cursor: pointer;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    padding: 15px;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); 
}
table#days td.done {
    background: linear-gradient(to bottom, #ccc 0%,#aaa 100%); 
}
table#days td.curr {
    background: linear-gradient(to bottom, #ffc 0%,#cca 100%); 
}
time {
    display: block;
    margin-top: 10px;
    font-size: 75%;
    position: absolute;
    bottom: 3px;
    width: 130px;
    text-align: center;
}
td .users {
    position: absolute;
    top: 5px;
    left: 16px;
}
td span.time {
    position: absolute;
    top: 5px;
    right: 5px;
}
td .views {
    position: absolute;
    top: 25px;
	left: 13px;
    
}
/* until here */

div#total {
	margin-top: 15px;
	text-align: center;
}
#content td.num {
    text-align: right;
}
#days td > i {
    position: absolute;
    font-size: 15px;
    bottom: 3px;
    right: 3px;
}

@media screen and (max-width: 900px) {
    #days span.text, time {
        display: none;
    }
    table#days td {
        width: 20px;
        height: 20px;
    }
    header h1 {
        display: none;
    }
    header {
        height: 120px;
    }
    header #course {
        top: 50px;
        left: 30px;
        width: 90%; 
    }
    #controls {
        right: 30px;
    }
}