div#days {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto; /* 7 cols */
    margin-left: auto;
    margin-right: auto;
    width: 67vw;

    div.dayHeader {
        text-align: center;
    }
}
div#days div.data {
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    min-height: 8vw;
    width: 8vw;
    padding: 15px;
    position: relative;
    background: linear-gradient(to bottom, #eee 0%,#ddd 100%);
    display: flex;
    flex-direction: column;
}
div#days div.data a {
    font-size: 125%;
}
div#days div.data a.invisible {
    color: var(--light-gray);
}
div#days div.data.w1 {
    border-top: 1px solid var(--border);
}
div#days div.data.d1 {
    border-left: 1px solid var(--border);
}
div#days div.data.done {
    background: linear-gradient(to bottom, #ccc 70%,#ddd 100%); 
}
div#days div.data.curr {
    background: linear-gradient(to bottom, #ffc 0%,#cca 100%); 
}
div.data i.fa-square-plus {
    position: absolute;
    bottom: 45px;
    left: 10px;
}
div.data div.icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
div.data time {
    display: block;
    font-size: 75%;
    position: absolute;
    right: 6px;
    bottom: 3px;
    span.date {
        font-size: 175%;
    }
}
div.data .users {
    position: absolute;
    top: 5px;
    left: 16px;
}
div.data span.time {
    position: absolute;
    top: 5px;
    right: 5px;
}
div.data .views {
    position: absolute;
    top: 25px;
	left: 13px;
}
div#total {
	margin-top: 15px;
	text-align: center;
}
#content td.num {
    text-align: right;
}

/* for quiz and lab overview */
div#days.lab div.data {
    cursor: default;
}

div#days.lab div.data a.invisible {
    color: var(--border);
}

div#days.lab div.data i.fa-plus-square {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#days div.data a.edit {
    width: auto;
}

dialog#add_modal h3 select {
    width: inherit;
    height: inherit;
}
#add_modal {
    width: 425px;
}

#add_modal input[type="time"],
#add_modal input[type="date"] {
    width: 150px;
}

#add_modal input.name {
    width: 310px;
}

@media screen and (max-width: 900px) {
    header h1 {
        display: none;
    }
    header {
        height: 120px;
    }
    header div#course {
        top: 60px;
        left:0px;
        width: 100%; 
    }
    header div#controls {
        top: 20px;
        right: 30px;
    }
    main nav.areas {
        width: 60px;
    }
    main nav.areas > div {
        min-width: 60px;
    }
    main nav.tools {
        display: none;
    }
    div#days {
        display: block;
        width: 80vw;
        margin: auto;
        div.dayHeader {
            display: none;
        }    
    }
    div#days div.header {
        display: none;
    }
    div#days div.data {
        width: 100%;
        padding: 15px 0px;
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        min-height: 75px;
    }
    div#days div.data.mon {
        border-top: 1px solid var(--border);
        margin-top: 40px;
    }
    div#days div.data.d1 {
        margin-top: 30px;
        border-top: 1px solid var(--border);
    }
    div#days div.data.w1.d1 {
        margin-top: 5px;
    }
    div.data span.day { 
        display: block;
    }
}
