table#days {
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table#days td {
    cursor: pointer;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    padding: 15px;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); 
}
table#days td.done {
    background: linear-gradient(to bottom, #ccc 0%,#aaa 100%); 
}
table#days td.curr {
    background: linear-gradient(to bottom, #ffc 0%,#cca 100%); 
}
time {
    display: block;
    margin-top: 10px;
    font-size: 75%;
    position: absolute;
    bottom: 3px;
    width: 130px;
    text-align: center;
}
td .users {
    position: absolute;
    top: 5px;
    left: 16px;
}
td span.time {
    position: absolute;
    top: 5px;
    right: 5px;
}
td .views {
    position: absolute;
    top: 25px;
	left: 13px;
    
}
div#total {
	margin-top: 15px;
	text-align: center;
}
#content td.num {
    text-align: right;
}
#days td > i {
    position: absolute;
    font-size: 15px;
    bottom: 3px;
    right: 3px;
}

@media screen and (max-width: 900px) {
    #days span.text, time {
        display: none;
    }
    table#days td {
        width: 20px;
        height: 20px;
    }
    header h1 {
        display: none;
    }
    header {
        height: 120px;
    }
    header #course {
        top: 50px;
        left: 30px;
        width: 90%; 
    }
    #controls {
        right: 30px;
    }
}