
body {
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 100%;
}
header {
    height: 80px;
}
#controls {
    position: fixed;
    z-index: 0;
    top: 27px;
    right: 70px;
	font-size: 24px;
    cursor: pointer;
}
#controls a {
	text-decoration: none;
	color: black;
}
h1 > span.title {
    position: fixed;
    left: 55%;
    top: 0px;
    z-index: 0;
    width: 600px;
    margin-left: -300px;
    margin-top: 20px;
    font-size: 20pt;
}
header #course {
    text-align: center;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 20%;
    margin-top: 20px;
	font-size: 20pt;
    font-weight: bold;
}
main {
    position: relative;
    z-index: 10;
	border-top: 1px solid black;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.2), 
                0 -6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 100vh;
	background-color: #EEE;
}
table#days {
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table#days td {
    cursor: pointer;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    padding: 15px;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); 
}
.done {
    background: linear-gradient(to bottom, #ccc 0%,#aaa 100%); 
}
.curr {
    background: linear-gradient(to bottom, #ffc 0%,#cca 100%); 
}
time {
    display: block;
    margin-top: 10px;
    font-size: 75%;
    position: absolute;
    bottom: 3px;
    width: 130px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
td .users {
    position: absolute;
    top: 5px;
    left: 16px;
}
td .time {
    position: absolute;
    top: 5px;
    right: 5px;
}
td .views {
    position: absolute;
    top: 25px;
	left: 13px;
    
}
div#total {
	margin-top: 15px;
	text-align: center;
}
.fa-user {
    cursor: pointer;
}
#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FFFD;
    display: none;
    z-index: 100;
    overflow: auto;
}
#overlay.visible {
    display: block;
}
#close-overlay {
    position: fixed;
    top: 25px;
    right: 90px;
    font-size: 50px;;
    cursor: pointer;
}
#tables {
    margin: 50px 0px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
#tables h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
}
#tables table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
#tables caption {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;
}
#tables th {
    cursor: pointer;
}
#tables td, #tables th {
    border: 1px solid black;
    padding: 3px;
}
#tables td.hours {
    text-align: right;
}
#tables tr:nth-child(2n+1) {
    background-color: #DDD;
}