nav.tools {
    top: 80px;
    position: fixed;
}
div.questionText, div.answerText {
    border: 1px solid grey;
    padding: 5px;
    background-color: #FAFAFA;
}
div.done {
    margin-top: 50px;
    margin-bottom: 300px;
    text-align: center;
}
form#delQuiz, form#delLab {
    display: inline;
}
div.quiz {
    text-align: center;
}
div.status {
    margin-bottom: 5px;
}
div.quiz form label {
    display: inline-block;
    width: 60px;
    margin-bottom: 5px;
}
div.quiz input.name {
    width: 310px;
}
div.quiz select {
    width: 320px;
}
div.quiz input[type="time"], div.quiz input[type="date"] {
    width: 150px;
}

div.qcontainer {
    display: flex;
    border-top: 1px solid var(--border);
    margin-top: 30px;
}
div.qcontainer div.about {
    flex-basis: 150px;
    flex-shrink: 0;
    border-right: 1px solid var(--border);
    text-align: center;
    position: relative;
}
div.qcontainer div.about div.seq {
    font-size: 50pt;
}
div.qcontainer div.about input[type="number"] {
    width: 50px;
}
div.qcontainer div.about i.fa-trash-alt {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
div.qcontainer div.question {
    flex-grow: 1;
    padding: 5px;
}
div.qcontainer div.question div.qType{
    font-weight: bold;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 10px;
}
div.qcontainer div.question div.textContainer {
    position: relative;
}
div.textContainer i.fa-markdown {
    position: absolute;
    top: -18px;
    right: 0px;
    cursor: pointer;
    color: gray;
}
div.textContainer i.fa-markdown.active {
    color: var(--black);
}
div.qcontainer div.question textarea {
    width: 100%;
    height: 10em;
}
div.qcontainer div.mdContainer {
    display: none;
}
div.qcontainer div.mdContainer.active {
    display: block;
}
div.qcontainer div.preview {
    margin: 5px 0px;
    text-align: right;
}
div.qcontainer div.pcontainer {
    padding: 5px;
    border: 1px solid var(--border);
}
div.question textarea {
    max-width: 600px;
}
div.question pre {
    max-width: 550px;
}
div.question img {
    width: 585px;
}
i.fa-circle-notch {
    display: none;
}
i.fa-circle-notch.rotate {
    display: inline-block;
    width: 16px;
    animation: rotation 2s infinite linear;
}
div#total {
    margin-top: 2em;
    text-align: center;
}
div.modal #typeSelect {
    position: absolute;
    right: 30px;
    top: 50px;
}
div.modal #typeSelect select { 
    width: auto;
}
div.modal input[type='number'] {
    width: 50px;
    float: right;
}
div.modal textarea {
    width: 100%;
    height: 10em;
}
#img_answer {
    display: none;
}
span.timestamp {
    font-size: 10pt;
    color: #AAA;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 120px;
    }
    header div#course {
        display: none;
    }
    header h1 {
        margin-top: 60px;
    }
    header div#controls {
        top: 20px;
        right: 30px;
    }
    nav.back {
        left: 20px;
    }
    nav.tools {
        top: 0px;
        right: 125px;
        background-color: white;
    }
    nav.tools h3 {
        margin: 0px;
        padding: 3px;
    }
    #content {
        width: auto;
    }
    #content h1 {
        text-align: center;
    }
    #content > div {
        margin-left: 20px;
    }
    #content div.qcontainer {
        margin-left: 5px;
    }
    #content div.about {
        flex-basis: 75px;
    }
    #content #countdown {
        font-size: 35px;
    }
}
