nav.tools {
    top: 80px;
    position: fixed;
    z-index: 100;
}
div.questionText, div.answerText {
    border: 1px solid grey;
    padding: 5px;
    background-color: var(--light-gray);
}
div.done {
    margin-top: 50px;
    margin-bottom: 300px;
    text-align: center;
}
form#delQuiz {
    display: inline;
}
div.quiz {
    text-align: center;
}
div.quiz div.status {
    margin-bottom: 5px;
}
div.quiz form label {
    display: inline-block;
    width: 60px;
    margin-bottom: 5px;
}
div.quiz input.name {
    width: 310px;
}
div.quiz select {
    width: 320px;
}
div.quiz input[type="time"], div.quiz input[type="date"] {
    width: 150px;
}

div.qcontainer {
    display: flex;
    border-top: 1px solid var(--border);
    margin-top: 30px;
}
div.qcontainer div.about {
    flex-basis: 150px;
    flex-shrink: 0;
    border-right: 1px solid var(--border);
    text-align: center;
    position: relative;
}
div.qcontainer div.about div.seq {
    font-size: 50pt;
}
div.qcontainer div.about input[type="number"] {
    width: 50px;
}
div.qcontainer div.about i.fa-trash-alt {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
div.qcontainer div.question {
    flex-grow: 1;
    padding: 5px;
}
div.qcontainer div.question div.qType{
    font-weight: bold;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 10px;
}
div.qcontainer div.question div.textContainer {
    position: relative;
}
div.textContainer i.fa-markdown {
    position: absolute;
    top: -18px;
    right: 0px;
    cursor: pointer;
    color: gray;
}
div.textContainer i.fa-markdown.active {
    color: var(--black);
}
div.qcontainer div.question textarea {
    width: 100%;
    height: 10em;
}
div.qcontainer div.mdContainer {
    display: none;
}
div.qcontainer div.mdContainer.active {
    display: block;
}
div.qcontainer div.preview {
    margin: 5px 0px;
    text-align: right;
}
div.qcontainer div.pcontainer {
    padding: 5px;
    border: 1px solid var(--border);
}
div.question textarea {
    max-width: 600px;
}
div.question pre {
    max-width: 585px;
    white-space: pre-wrap;
}
div.question img {
    width: 100%;
}
div.question span {
    display: inline-block;
    margin: 10px 0px;
}
div.question span {
    i.fa-upload, i.fa-camera {
        cursor: pointer;
    }
    a {
        display: inline-block;
        margin-left: 20px;
    }
}
div.question {
    .hide {
        display: none;
    }
}
div.question div.camera {
    position: relative;

    div.takePicture,
    div.switchCamera,
    div.closeCamera {
        position: absolute;
        font-size: 50px;
        color: rgba(255,255,255,0.5);
        z-index: 1;
        -webkit-text-stroke: 2px black;
        cursor: pointer;
    }
    div.switchCamera {
        bottom: 10px;
        right: 20px;
    }
    div.closeCamera {
        top: 10px;
        right: 20px;
    }
    div.takePicture {
        border: 2px solid black;
        border-radius: 50%;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 75px;
        background-color: rgba(255,255,255,0.5);
    }
    div.camera_icon {
        position: absolute;
        top: 20px;
        left: 15px;
        font-size: 20px;
    }
    video, canvas {
        display: none;
    }
    video.show {
        display: block;
    }
}
div.question span input[type="file"] {
    display: none;
}
i.fa-circle-notch.rotate {
    width: 16px;
}
div#total {
    margin-top: 2em;
    text-align: center;
}
div.modal #typeSelect {
    position: absolute;
    right: 30px;
    top: 50px;
}
div.modal #typeSelect select { 
    width: auto;
}
div.modal input[type='number'] {
    width: 50px;
    float: right;
}
div.modal textarea {
    width: 100%;
    height: 10em;
}
#img_answer {
    display: none;
}
span.timestamp {
    font-size: 10pt;
    color: #AAA;
}
div.done.user {
    text-align: right;
    font-size: 24px;
}

@media screen and (max-width: 900px) {
    header {
        height: 120px;
    }
    header div#course {
        display: none;
    }
    header h1 {
        margin-top: 60px;
    }
    header div#controls {
        top: 20px;
        right: 30px;
    }
    nav.back {
        left: 20px;
    }
    nav.tools {
        top: 0px;
        right: 125px;
        background-color: white;
    }
    nav.tools h3 {
        margin: 0px;
        padding: 3px;
    }
    #content {
        width: auto;
    }
    #content h1 {
        text-align: center;
    }
    #content > div {
        margin-left: 20px;
    }
    #content div.qcontainer {
        margin-left: 5px;
    }
    #content div.about {
        flex-basis: 75px;
    }
    #content #countdown {
        font-size: 35px;
    }
}
