h1 {
    text-align: center;
}
.error {
    font-size: 25px;
    color: red;
    text-align: center;
    margin-top: 10px;
}
.fields {
    margin: 30px auto;
    width: 450px;
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 0px;
    grid-template-columns: 110px auto;
    grid-template-rows: 9;
}
input, select {
    width: 100%;
}
select {
    background-color: white;
    border: 1px solid black;
}
#btn {
    text-align: right;
    position: relative;
    top: 15px;
}
.text {
    padding-right: 8px;
}
#btn {
    grid-area: btn;
}
grid-column
select {
    background-color: white;
    border: 1px solid black;
    padding-right: 10px;
}
@media screen and (max-width: 900px) {
    .fields {
        width: auto;
    }
    header {
        height: 80px;
    }
    header h1 {
        display: block;
    }
}
