body {
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
header {
    height: auto;
}
i#bars.fa-bars {
    position: absolute;
    top: 92px;
    left: 25px;
    z-index: 20;
    font-size: 25px;
    cursor: pointer;
}
#user {
    position: absolute;
    top: 25px;
    right: 30px;
	font-size: 24px;
}
div#playSpeed {
    font-family: "monospace";
    font-size: 18px;
    font-weight: bold;
	text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 110px;
}
#faster, #slower {
    cursor: default;
    border: 1px solid black;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
}
article {
    text-align: center;
}
p.solution {
    color: red;
    font-weight: bold;
}
div#container {
    margin-top: 80px;
    display: flex;
    background-color: #eee;
    position: relative;
    background-color: #fff;
    z-index: 10;
}
nav#videos {
    cursor: pointer;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    background-color: #eee;
    opacity: 100%;
    transition: width 1s, opacity 500ms ease 300ms;
}
nav#videos.hidden {
    width: 0%;
    opacity: 0%;
    transition: width 1s, opacity 500ms;
}
nav#videos nav {
    position: relative;
}
nav#videos nav #info-btn {
    position: absolute;
    font-size: 24px;
    top: 50px;
    left: 24px;
}
nav#videos div.video_link {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}
nav#videos div.video_link:hover {
    font-weight: bold;
}
nav#videos div.video_link.selected { 
    cursor: default;
    background-color: white;
    color: black;
    position: relative;
    left: 1px;
    margin-left: 1px;
    border-left: 1px solid black;
    border-bottom-left-radius: 10px;
}
nav#videos div.video_link.selected:hover {
    font-weight: normal;
}
#days td a, div.video_link a {
    display: block;
}
div#total {
	margin-top: 15px;
	text-align: center;
}
nav nav {
    cursor: default;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    background-color: #EEEEEE;
}
#videos table {
    cursor: pointer;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#videos td,th {
    border: 1px solid black;
    width: 20px;
}
#videos td {
    background: linear-gradient(to bottom, #eee 0%,#ccc 100%); 
}
#videos td.done {
    /* background-color: #BBB; */
    background: linear-gradient(to bottom, #ccc 0%,#aaa 100%); 
}
#videos td.curr {
    /* background-color: #FF0; */
    background: linear-gradient(to bottom, #ffc 0%,#cca 100%); 
}
main {
    background-color: white;
	position: relative;
    border-top: 1px solid black;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 100vh;
    width: 100%;
}
video:focus {
    outline: none;
}
#pdf {
    position: absolute;
    right: 50px;
    font-size: 50px;
}
main article video {
    width: 80%;
}
main article .progress {
    position: relative;
    width: 80%;
    height: 13px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 8pt;
    border: 1px solid black;
}
main article .progress .passed, main article .progress .current {
    position: absolute;
    left: 0px;
    height: 13px;
}
main article .progress .passed {
    background: linear-gradient(90deg, rgba(34,29,122,1) 0%, rgba(60,60,172,1) 52%, rgba(0,212,255,1) 100%);
}
main article .progress .current {
    background-color: yellow;
}
main article .progress .time {
	position: absolute;
	right: 10px;
}
.progress #autoplay {
    position: absolute;
    color: grey;
    font-size: 10pt;
    font-family: sans-serif;
    bottom: -25px;
    right: 5px;
}
#autoplay .fa-toggle-off, #autoplay .fa-toggle-on {
    color: #555;
    cursor: pointer;
    font-size: 12pt;
    position: relative;
    top: 2px;
}
.progress #shortcuts {
    position: absolute;
    bottom: -30px;
    right: 100px;
    font-size: 20px;
    cursor: pointer;
}
#keyboard {
    margin: auto;
    width: 80%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
#keyboard.hidden {
    display: none;
}
#keyboard h5 {
    margin-bottom: 3px;
}
#keyboard section {
    flex-grow: 1;
}
#keyboard section span.key {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: lightgray;
    width: 60px;
    text-align: center;
    margin: 3px;
}
#questions {
    width: 80%;
    margin-left: 10%;
    text-align: left;
}
#questions h2, #questions h3 {
    margin-bottom: 0px;
}
#questionForm {
    position: relative;
}
.textAction, .cancel {
    position: absolute;
    top:  50px;
    right: 0px;
    z-index: 100;
}
.cancel {
    right: 70px;
}
.author {
    color: grey;
    font-size: 10pt;
    font-family: sans-serif;
    position: relative;
}
.author i.fa-trash-alt, .author i.fa-edit {
    position: absolute;
    right: 10px;
    top: 22px;
    color: black;
    cursor: pointer;
    z-index: 10;
}
.author i.fa-edit {
    right: 30px;
}
.author .date {
    margin-left: 20px;
}
.author i.fa-angle-up, .author i.fa-angle-down {
    position: absolute;
    left: -25px;
    top: 10px;
    cursor: pointer;
    font-size: 20pt;
    color: white;
    text-shadow:     1px  1px #000,
                    -1px -1px #000,
                     1px -1px #000,
                    -1px  1px #000;
}
.author i.fa-angle-down {
    top: 30px;
}
.author i.fa-angle-up.selected {
    color: orange;
}
.author i.fa-angle-down.selected {
    color: lightseagreen;
}
.author i.fa-angle-up:hover  {
    color: orange;
    transition: color 1s ease-in;
}
.author i.fa-angle-down:hover {
    color: lightseagreen;
    transition: color 1s ease-in;
}
.question, .reply {
    position: relative;
    border: 1px solid gray;
    padding: 5px;
}
.question {
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.reply {
    margin-bottom: 5px;
    margin-left: 30px;
}
.question .author {
    margin-left: 30px;
}
.question .addReply {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: grey;
    font-size: 10pt;
    font-family: sans-serif;
    cursor: pointer;
}
.mdBox.selected {
    background-color: #ffd;
    transition: background-color 2s ease-in;
}
.mdBox.selectDone {
    background-color: transparent;
    transition: background-color 2s ease-in;
}
.mdBox p {
    margin: 5px 0px;
}
textarea.questionText {
    width: 100%;
    min-height: 75px;
    margin-bottom: 25px;
}
.question textarea.questionText {
    margin-bottom: 5px;
}
.replyContainer {
    padding: 0px 5px;
}
#content td.num {
    text-align: right;
}

@media screen and (max-width: 900px) {
    h1 {
        display: none;
    }
    div#container nav#videos {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: auto;
        z-index: 25;
    }
    div#container nav#videos.hidden {
        display: none;
    }
    div#controls {
        right: 10px;
        top: 23px;
    }
    main div#playSpeed {
        top: 15px;
        right: 70px;
    }
    main #pdf {
        top: 0px;
        right: 15px;
    }
    main article h2 {
        margin-top: 60px;
    }
    main article video {
        width: 100%;
    }
}